
.container-fluid {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-container {
  margin: 1rem;
}


img {
  margin-top: .5rem;
  width: 150px;
  height: 150px;
  border: 2px solid #fff;
}

.product-links {
  width: 20rem;
  height: 20rem;
  text-align: center;
}


.checkout-info {
  width: 40rem;
}

.checkout-list {
  list-style: none;
}

.order-list {
  text-align: center;
}

.links {
  width: 12rem;
  text-align: center;
  color: white;
}

h6 {
  font-size: 1rem;
}

#top, #bottom, #left, #right {
  text-align: center;
	}
	#left, #right {
		top: 0; bottom: 0;
		}
		#left { left: 0; }
		#right {
      right: 0;
      height: auto;
     }

	#top, #bottom {
		left: 0; right: 0;
		}
		#top { top: 0; }
		#bottom {
      bottom: 0;
     }

#bottom {
  margin-bottom: 5rem;
}

#footer-container {
  display: inline-block;
  text-align: center;
}

.cart-container {
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
  list-style: none;
}
