
.container-fluid {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}


/* simple design cart stuff*/

.cart {
  position: fixed;
  margin-top: -15rem;
  z-index: 9999;
  margin-left: 2.5rem;
  width: 15rem;
  height: 15rem;
  background-color: red;
  padding-top: 1rem;
  border-radius: 50%;
}

.cart-container {
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
  list-style: none;
}


.checkout-info {
  width: 40rem;
}

.checkout-list {
  list-style: none;
}

.checkout-button {
  font-size: 1rem;
  background-color: white;
  color: black;
}

.checkout-button:hover {
  background-color: blue;
  color: white;
}

.order-list {
  text-align: center;
}

/*image stuff*/

img {
  margin-top: .5rem;
  width: 150px;
  height: 150px;
  border: 2px solid #fff;
}

.image-container {
  margin: 1rem;
}

.product-links {
  width: 20rem;
  height: 20rem;
  text-align: center;
}

/*most non pertinent design stuff*/

.links {
  width: 12rem;
  text-align: center;
  color: white;
}

h6 {
  font-size: 1rem;
}

#footer-container {
  display: inline-block;
  text-align: center;
}
