<!-- fixed shopping cart -->

<div class="cart text-center">
  <h1>Cart: {{count}}</h1>
  <br>
  <button class="btn btn-warning checkout-button" type="button" name="button" ng-hide=isCheckedOut ng-click="checkingOut()">Checkout</button>
</div>


<br>

<!-- products and products with template fields  -->

<div class="container-fluid" ng-hide=isCheckedOut>
  <div class="image-container" ng-repeat="product in products">
    <button class="btn btn-info product-links"><img src="{{product.imageURL}}" alt="" /><h6>{{product.name}}</h6></button><br>
    <input class="form-control text-center" type="number" placeholder="Enter Quantity" ng-model="q">
    <br>
    <input class="btn" type="button" name="name" value="Add to Order" ng-click="addToOrder(product.name,q,product.productID)">
  </div>
  <div class="image-container" ng-repeat="need in needInfo">
    <button class="btn btn-info product-links"><img src="{{need.imageURL}}" alt="" /><h6>{{need.name}}<br><medium>Customizable</medium>
    </h6>
    </button>
    <input class="form-control text-center" type="number" placeholder="Enter Quantity" ng-model="q">
    <br>
    <input class="btn" type="button" name="name" value="Add to Order" ng-click="addToOrder(need.name,q,need.productID)">
  </div>
  <br>
  <br>
</div>
  <br>
<hr>

<!-- invoice with order record -->

<div class="" ng-show=isCheckedOut>
  <h1>Your Orders</h1>
  <div class="order-list text-center" ng-repeat="order in cart">
    <ul class="checkout-list">
      <li>Order: {{order.name}} QTY: {{order.quantity}} </li>
    </ul>
  </div>
    <br>

    <!-- user information with order this would also have template fields -->

    <div id="footer-container" ng-show=checkedOut>
      <h1>Place Order</h1>
    <form class="form-group">
      <input class="form-control checkout-info" placeholder="first name" type="text" ng-model="firstName">
      <input class="form-control checkout-info" placeholder="last name" type="text" ng-model="lastName">
      <input class="form-control checkout-info" placeholder="email" type="text" ng-model="email">
      <input class="form-control checkout-info" placeholder="phone #" type="text" ng-model="phone">
      <input class="form-control checkout-info" placeholder="payment type" type="text" ng-model="payment">
      <input class="form-control checkout-info" placeholder="card #" type="text" ng-model="card">
      <input class="form-control checkout-info" placeholder="cvc code" type="text" ng-model="cvc">
      <input class="form-control checkout-info" placeholder="first name" type="submit" name="name" value="Submit Order" ng-click="checkedOut()">
    </form>
  </div>

</div>

<!-- receipt with user's first and last name as well as confirmation email and order # -->
<div class="container" ng-show=hasCheckedOut>
  <h1>Thank You {{firstName}} {{lastName}}</h1>
  <h1>A confirmation email has been sent to {{email}}</h1>
  <h1>Order #: {{orderNumber}}</h1>
</div>
